html,
body {

	min-width: 750px;
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	font-family: arial;
	font-weight: 400;
	font-size: small;
}

header {
	position: relative;
	top: 0px;
	width: 100%;
}

nav {
	position: relative;
	display: inline-block;
	margin: ;
	padding: 25px 25px 0 20px;
	list-style-type: none;
	background-color: ;
}

nav.left {
	position: relative;
	left: 10px;
	min-width: 50px;
}

nav.right {
	position: absolute;
	right: 160px;

}

li {
	padding: 0 10px 0 20px;
	margin-left: 0;
	display: inline;
	overflow: none;
}

li a {
	font-size: 15px;
	color: #5a5c5f;
	padding: 0 1px 0 0;
	text-decoration: none;
}


div.logo {
	display: inline;
	position: absolute;
	top: 21px;
	right: 145px
}

div.blt-logo {
	position: absolute;
	top: -2px;
	right: -50px;
	opacity: .6;
}

.circle {
	position: absolute;
	top: -10px;
	right: -125px;
	border-radius: 100em;
	width: 50px;
}

.img {
	position: relative;
	top: 220px;
	left: 1px;
}

center {
	display: block
}

#body {
	display: block;
}

.ctr-p {
	margin: 0 auto;
	min-width: 900px;
}

.content {
	clear: both;
	width: 100%;
	padding-bottom: 35px;
}

.content input[type="search"] {
	font-family: arial;
	font-size: 1.4em;
	margin-top: 15px;
	width: 600px;
	height: 40px;
	padding-left: 10px;
	padding-right: 45px;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	box-shadow: 1px 3px 5px #bbbbbb;
}

input[type="search"]:hover {
	box-shadow: 0 3px 10px #9b9b9b;
}

input[type="search"]:focus {
	outline: none;
	box-shadow: 0 3px 10px #9b9b9b;
}

input[type=search] {
	border: 1.8px solid #f2f2f2;
}

input[type="submit"]:hover {
	border-color: #d1d1d1;
}

input[type="submit"]:focus {
	outline: none;
	border-color: #d1d1d1;
}

.fbar {
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	line-height: 10px;
	min-width: inherit;
	padding: 1px;
}

footer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	min-width: inherit;
}

.btn_src {
	display: inline-block;
	background: #f2f2f2;
	margin: auto;
	padding: 12px 20px;
	border-radius: 4px;
	font-weight: 600;
	color: gray;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

a:hover {
	text-decoration: underline;
}

input[type="submit"] {
	border: 1px solid #f2f2f2;
	align-items: flex-start;
	display: inline-block;
	background: #f2f2f2;
	margin: 15px 5px;
	padding: 12px 20px;
	border-radius: 4px;
	font-weight: 600;
	color: #717171;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

.r-mn {
	position: absolute;
	right: 50px;
	bottom: 0px;
	padding: 0;
}
